frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/.env
backend/data/db.json
frontend/.env
desktop-launcher/node_modules/
desktop-launcher/node_modules
.vscode/
desktop-launcher/dist/
desktop-launcher/release/
packages/distribution/node_modules/
packages/distribution/node_modules
uploader/node_modules
uploader/node_modules/

# --- Zoho Catalyst Exclusions ------------------------------------------------
lazplay-catalyst/backend/node_modules/
lazplay-catalyst/backend/node_modules
lazplay-catalyst/backend/app-config.json
lazplay-catalyst/backend/.env